
.navbar-nav{
    margin-right: 130px;
}

.navbar-brand{
    margin-left: 6rem;
}

.carousel-item img{
    width: 100%;
    height: auto;
}
.service-box {
    box-shadow: 2px 5px 5px #e1d7d7;
    text-align: center;
    width: 100%;
    display: inline-block;
}
.about-us-article {
    background-color: #ccc;
    padding-top: 40px;
}
h5.about-title {
    text-transform: uppercase;
    border-bottom: 2px solid #9d1d1f;
    display: inline-block;
}
a.readmore {
    color: #fff;
    background: brown;
    border-radius: 20px;
    padding: 8px 15px 10px;
}
a.readmore:hover{
    text-decoration: none;
}

a.full-projects{
    color: #fff;
    background: brown;
    border-radius: 20px;
    padding: 8px 15px 10px;
    margin-left: 212px;
}
a.full-projects:hover{
    text-decoration: none;
}
.about-us-media{
    padding-bottom: 1rem;
}




.visual-works{
    list-style: none;
    text-align: center;
    
}
.visual-works li{
    
    display: inline;
    padding: 0 20px;
    cursor: pointer;
}


h2{
    
    padding: 20px 0 10px;
    
}

.container-fluid  h2 {
    color: black;
}
.projects-section{
    background-image: url("../images/full projects.jpg"); 
    background-size: cover;  
    background-repeat: no-repeat;
    margin-top: 0px;
    color: white;
}

.bg-ingfo, .bg-contact{
    background-color: red;
    color: white;
}
.bg-time{
    background-color: brown ;
    color: white;
}
.row py-5 projects {
    
}

.copyright-wrap{
    background:brown;
    color: white;
}
.image-container {
    height: 380px;
    overflow: hidden;
    padding: 20px 0;
}

.p-4 {
    padding: 4rem!important;
}

/*media query */


@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 1.5rem;
    }
}

@media all and (max-width: 770px){
     .container-event>img{

     }
}


 /*News*/


 .banner-news {

    background: url("../images/news1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    padding: 5%;


 }

 

 /* Projects */

  .banner-projects{
        background: url("../images/projects.jpg");
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        padding: 5%;
    
  }
  .banner-services{
    background: url("../images/services.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 5%;
  }
 
  .banner-missions{
    background: url("../images/missions.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 5%;
  }
  .banner-career{
      background: url("../images/career.jpg");
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      padding: 5%;
      margin-bottom: 45px;
  }

ul.nav-bar{
    background: #ececec;
    border-radius: 8px;
    padding: 20px;
}

  ul.nav-bar li{
    display:inline;
    margin-left: 100px;
    margin-right: 100px;
    float: left;
 
}


ul.nav-bar li a{
    text-decoration:none;
    color:black;
}
  .banner-about-us{
    background: url("../images/career.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 5%;
    margin-bottom: 33px;
  }

  .content-about-us{
      margin-top: 70px;
      background: #F2F2F2;
  }

  .vision-block {
    background: grey;
    border-radius: 10px;
    float: left;
    text-align: center;
    padding: 20px 15px;
    width: 100%;
    margin: 35px 0 0
  }

  .article-mission {
      background: url("../images/full projects.jpg ") ;
      background-size: cover;
      background-repeat: no-repeat;
      color: white;
      padding: 3rem;
      margin-bottom: 0rem!important;
      
      
  }

  .list-unstyled li a{
      text-decoration: none;
      color: black;
  }
 


  .article-mission p{
      text-align: center;
  }
  .about-mission{
      text-align: center;
  }
 .swiper-container{
     width: 100%;
     height: 100%;
     
 }
 .swiper-wrapper{
     padding: 30px 0;
 }
.swiper-slide{
      text-align: center;
      font-size: 18px;
      background: #fff;

      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content:center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

}
.fa-glasses,.fa-rocket{
    font-size: 2rem;
    padding:45px 0;
    margin-left: 1rem;
    color: white;
    
    
}
.glasses{
    background: red;
    
}
.mission{
    color: black;
    background: black;
}
.vision,.missions{
    box-shadow: 2px 5px 5px #e1d7d7;
    
}